<div class="uk-section uk-container">
  <div uk-grid>
    <div class="uk-width-1-3" *ngFor="let user of users$ | async">
      <mat-card>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line><b>Nombre:</b> {{ user.name }}</div>
            <div mat-line><b>Apellido:</b> {{ user.lastname }}</div>
            <div mat-line><b>Documento:</b> {{ user.document_id }}</div>
            <div mat-line><b>Correo:</b> {{ user.email }}</div>
            <div mat-line><b>Teléfono:</b> {{ user.phone }}</div>
          </mat-list-item>
          <div class="uk-text-right">
            <button
              mat-raised-button
              color="accent"
              [routerLink]="['/form', user.id]"
            >
              Editar
            </button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="onDelete($event, user)" >Eliminar</button>
          </div>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
